<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ywp.shppingcartbackend.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="com.ywp.shppingcartbackend.domain.Product">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="in_cart" column="in_cart" jdbcType="TINYINT"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="created_at" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updated_at" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="is_deleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,description,
        price,in_cart,quantity,
        created_at,updated_at,is_deleted
    </sql>
</mapper>
